*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --green: #10504F;
    --white: #FFFFFF;
}

/* ====== Typography ====== */

body {
    font-family: 'Lato', sans-serif;
    color:#FFFFFF; 
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Pacifico', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.desc-text {
    font-size: 0.75rem;
    font-weight: 300;
}

.sm-text {
    font-size: 0.5rem;
}

.thin-text {
    font-weight: 300;
    letter-spacing: 1px;
}

.price {
    color: var(--green);
    font-family: 'Pacifico', sans-serif;
}



/* ====== End Typography ====== */





/* ====== Header ======= */

.specials {
    background-color: black;
    text-align: center;
    padding: 0.3em;
}

.header-nav {
    background: var(--green);
    width: 100vw;
    padding: 0 0.7em 0 1.25em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: none;
}

.burger {
    width: 2.5em;
}

.line {
    height: 4px;
    background: var(--white);
    border-radius: 2.5px;
    margin: 0.3em;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
       width: 2.8em;
       height: 3.375em;
       object-fit: contain;
}



.shopping-cart {
    width: 0.7em;
    object-fit: contain;
}

/* ====== End Header ======= */




/* ====== Hero ======= */

.hero {
    background-image: url('/Images/Hero-Image-1-Mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    top: 25%;
    left: 1em;
    position: absolute;
}


.cta-btn {
    display: block;
    background: black;
    padding: 0.8em;
    width: 44.5%;
    text-align: center;
    margin: 2.75em 0 0 0; 
}

.squares {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: auto;
    width: 20%;
    max-width: 150px;
    margin-bottom: 1em;
}

.square {
    width: 0.8em;
    height: 0.8em;
}

.active {
    background: var(--white);
}

.square:not(.active) {
    background: rgba(255,255,255, 0.5);
}

/* ====== End Hero ======= */



/* ====== MAIN ======= */


.product-catagories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1em;
    margin-top: 1em;
}

.card {
    display: flex;
    flex: 1 1 160px;
    flex-direction: column;
    margin-left: 1em;
    margin-bottom: 1em;
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    display: block;
    height: 175px;
}

.card h2{
    background: var(--green);
    padding: 0.3em;
    text-align: center;
}

.new-arrivals {
    margin: 1em;    
}

.new-arrivals h2 {
    margin-bottom: 1em;
    text-align: center;
}

.arrivals-arrow-container {
    display: flex;
}

.arrow {
    height: 1em;
    align-self: center;
    margin-bottom: 2em;
}

.arrivals-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.arrivals-intro {
    color: black;
}

.product {
    color: black;
    width: 40%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.product img {
    width: 100%;
}

.hero-2 {
    background-image: url('/Images/Hero-Image-2-Mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-2-intro {
    display: flex;
    flex-direction: column;
    height: 50%;
    top: 25%;
    right: 0.9em;
    position: absolute;
}


.green {
    background-color: var(--green);
}

.social {
    padding: 2em 1em 2em 1.2em;
}

.social h2 {
    color: black;
    text-align: center;
}

.social-img-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.social-img-container img {
    width: 30%;
    margin: 0.3em;
}

.contact {
    background: var(--green);
    padding: 2em 1em;
}

.contact-intro {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-icon {
    width: 1.5em;
    margin-right: 0.3em;
}

.form-text-container p {
    text-align: center;
    margin: 2em 0;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.text-input {
    line-height: 0;
    padding: 0.75rem;
    width: 70%;
}

.text-input::placeholder {
    font-size: 0.5rem;
    color:  #929292;
}

.subscribe-btn {
    font-size: 0.7rem;
    font-family: 'Pacifico', sans-serif;
    color: var(--white);
    border: 1px solid  var(--white);
    background: var(--green);
    width: 28%;
    
}

/* ======= END MAIN ======= */


/* ====== FOOTER ======= */

.main-footer {
    background: black;
    padding: 1em 3.125em 2.625em 3.125em;
}

.main-footer p {
    margin-right: 3.125em;
}

.customer-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav li {
    display: flex;
    flex-direction: column;

}

.social-links {
    display: flex;
    width: 41%;
    justify-content: space-between;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* ======= END FOOTER ======== */ 


/* ====== MEDIA QUERIES ======= */

@media screen and (min-width: 800px) {
    :root {
        font-size: 2rem
    }

    .header-nav {
        justify-content: center;
    }

    .nav-links {
        display: flex;
    }

    .nav-links li {
        margin-left: 1em;
    }

    .burger {
        display: none;
    }
    .shopping-cart {
        display: none;
    }

    .hero {
        background-image: url('/Images/Hero-Image-1.jpg');
        height: 100vh;
    }

    .card img {
        height: 569px;
    }

    .hero-2 {
        background-image: url('Images/Hero\ Image\ 2.jpg');
        height: 100vh;
    }
    .contact-intro {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .contact-intro h2 {
        margin: 0;
    }

    .form-text-container {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .form-text-container p {
        max-width: 600px;
        font-size: 0.63rem;
        text-align: left;
        /* margin-right: 2em; */
    }

    .subscribe-form {
        width: 35%;
        flex: 1 1 465px;
        
    }

    .footer-nav {
        flex-direction: row;
    }
    .footer-nav h2, 
    .footer-nav li, 
    .footer-nav p {
        font-size: 0.5rem;
        padding-bottom: 0.5em;
    }

    .follow-us {
        margin-left: auto;
    }
    .social-links {
        width: 135%;
    }
}