*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --green: #10504F;
    --white: #FFFFFF;
}

/* ====== Typography ====== */

body {
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
}

h2 {
    font-size: 1.25rem;
    font-family: 'Pacifico', sans-serif;
}

.desc-text {
    font-size: 0.75rem;
}

.sm-text {
    font-size: 0.5rem;
}

.thin-text {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* ====== End Typography ====== */


/* ====== Header ======= */

.specials {
    background-color: black;
    text-align: center;
    padding: 0.3em;
}

.header-nav {
    background: var(--green);
    width: 100vw;
    padding: 0 0.7em 0 1.25em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    width: 12%;
}

.line {
    height: 4px;
    background: var(--white);
    border-radius: 2.5px;
    margin: 0.3em;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
       width: 60%;
}



.shopping-cart {
    width: 0.7em;
    object-fit: contain;
}

/* ====== End Header ======= */


/* ====== Hero ======= */

.hero {
    background-image: url('/Images/Hero-Image-1-Mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    height: 50%;
    top: 25%;
    left: 1.5em;
    position: absolute;
}


.cta-btn {
    display: block;
    background: black;
    padding: 0.8em;
    width: 44.5%;
    text-align: center;
    margin: 2.75em 0 0 0; 
}

.squares {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: auto;
    width: 20%;
    margin-bottom: 1em;
}

.square {
    width: 0.8em;
    height: 0.8em;
}

.active {
    background: var(--white);
}

.square:not(.active) {
    background: rgba(255,255,255, 0.5);
}

/* ====== End Hero ======= */

/* ====== Body ======= */


.product-catagories {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.card {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
    margin: 0 1em 1em 0;
    /* max-height: 210px; */
}

.card + .card {
    margin: 0;
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    display: block;
    max-height: 175px;
}

.card h2{
    background: var(--green);
    text-align: center;
}